---
layout: base.njk
---

<div class="grid full-height bg-slate-100">
  <div class="full-height-center">
    <div class="p-5 md:p-10">
      <article>
        <h1 class="mb-5 text-3xl text-center">{{ title }}</h1>

        <div class="mx-auto prose">
          {{ content | safe }}
        </div>
      </article>
    </div>
  </div>
</div>