---
  layout: base.njk
  permalink: /
---

<div class="grid bg-slate-100 full-height">
 <div class="text-center full-height-center">
   <h1 class="text-4xl">It works 😎</h1>
   <p class="mb-4 text-3xl">let's create something amazing</p>

    {% set posts = collections.posts %}

    {% for post in posts %}
      <a href="{{ post.url }}" class="text-2xl underline">{{ post.data.title }}</a>
    {% endfor %}
 </div>
</div>